<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="admin_dash.component.css">
</head>
<body>
    <header>
        <img src="/assets/logo.svg" height="50px" alt="Your Logo">
        <nav>
            <a class="btn btn-outline-danger" href="/management">Management Page</a>
            <span style="margin: 0 5px;"></span>
            <a class="btn btn-outline-danger" href="/contact-coders">Contact Coders</a>
            <span style="margin: 0 3px;"></span>
            <!-- <button style="margin:5px"class="signout" type="button" onclick = "document.location='/management'">Manage Options</button> -->
            <!--<button style="margin:5px"class="signout" type="button" onclick = "document.location='/contact-coders'">Contact Coders</button>-->
            <button style="margin:5px"class="signout" type="button" (click) = "onSignOut()">Sign Out</button>
        </nav>
    </header>
    <!-- section below is the page title -->
    <section class="listRequest">
        <span class="boldText">List of Course / Program Advising Requests</span>
  
        <span>Administrator - {{user.firstName+ " " + user.lastName}}</span>
    </section>
    <!-- search bar -->
    <div class="searchbar">
        <div class="container-fluid searchbarContents">
            <form class="d-flex">
                <div class="input-group rounded searchinput">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                </div>
                <button class="searchButton" type="submit">Search</button>
            </form>
        </div>
    </div>
    <!-- main table of the page -->
    <main>
        <div class="listContainer">
            <div class="h-100 d-inline-block w-75 p-3">
                <div class="buttonContainer">
                    <div class="form-group" [formGroup] = "filterTable">
                        <select class="form-control" id="tableView" formControlName="tableView" (change)="applyFilter($event)">
                            <!-- hardcoded -->
                            <option [selected] = "true" value = "ALL">All</option>
                            <option value = "PENDING">Unresolved</option>
                            <option value = "COMPLETED">Completed</option>
                            <option value = "REJECTED">Rejected</option>
                            
                        </select>
                    </div>
                    <!-- <div class="managementButton">
                        <a href="/management">Manage Options</a>
                    </div> -->
                </div>
                <div style="overflow-x:auto; overflow-y: auto; height: 325px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Student Name</th>
                                <th scope="col">Student Number</th>
                                <th scope="col">Year & Course</th>
                                <th scope="col">Title</th>
                                <th scope="col">Nature of Advising</th>
                                <th scope="col">Date Modified</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="isDataLoaded">
                            <!-- table data -->
                            <tr *ngFor="let request of requests">
                                <td>{{request.student.firstName + " " +request.student.lastName}}</td>
                                <td>{{request.student.studentID}}</td>
                                <td>{{request.student.yearLevel+ " - " + request.student.program}}</td>
                                <td>{{request.title}}</td>
                                <td>{{request.advisingType.name}}</td>
                                <td>{{request.dateModified}}</td>
                                <!-- <td>{{request.status.name}}</td> -->
                                <td><button (click)="viewRequest(request.requestId)" [ngClass]="{'statusComplete' : request.status.name === 'COMPLETED','statusRejected' : request.status.name === 'REJECTED','statusPending' : request.status.name === 'PENDING'}">{{request.status.name}}</button></td>
                                <!-- <td><button type = "button" onclick="document.location='/view-request/{{request.requestId}}'" class="btn btn-success">Click here</button></td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            &copy; Mapúa University | Center of Student Advising
        </div>
    </footer>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
