<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Dialog</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="add-dialog.component.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <h2 mat-dialog-title style="text-align: center;">You are about to Change the Database.</h2>
    <mat-dialog-content cdkFocusInitial>
        <p style="text-align: center;">This action will add/modify items directly to the Database. Continue?</p>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button type="button" id="submitButton" class="btn btn-outline-success me-1 ms-auto" mat-button mat-dialog-close (click)="confirmAction()">Yes</button>
        <button type="button" class="btn btn-outline-danger me-auto ms-1" mat-button mat-dialog-close (click)="cancelAction()">No</button>
    </mat-dialog-actions>
</body>
</html>