<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Student Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
</head>
<body>
   <!-- Navigation Bar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand">
        <img src="/assets/logo.svg" height="50px" alt="Your Logo">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/concerns-page">Back</a>
            </li>
           
        </ul>
    </div>

</nav>
 <!-- Navigation Bar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand">
      <img src="/assets/logo.svg" height="50px" alt="Your Logo">
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/concerns-page">Back</a>
          </li>
         
      </ul>
  </div>

</nav>

<div class="container">
  <div class="moodra pt-5 col-md-6">
      <div class="card rounded-card shadow p-4">
          <h2 class="text-center">{{ forEditing ? 'Update a Concern' : 'Add a Concern' }}</h2>
          <form [formGroup]="newConcerns">                                                                                    
              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter concern" required>
              </div>   
              <button (click)="openDialog()" class="btn btn-primary">{{ forEditing ? 'Update Concern' : 'Add Concern' }}</button>
          </form>
      </div>
  </div>
</div>

<footer class="bg-info text-center text-lg-start fixed-bottom" style="background-color: #940C0C !important; color: white;">
  <!-- Copyright -->
  <div class="text-center p-3">
      &copy; Mapúa University | Center of Student Advising
  </div>
  <!-- Copyright -->
</footer>


  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 
</body>
</html>
