/* Global styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  background-image: url('/assets/contact.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
}

.sidebar {
  width: 250px; /* Adjust the width as needed */
  flex: 0 0 auto; /* Sidebar should not grow or shrink */
  background-color: #f0f0f0;
  padding: 20px;
  margin: 0; /* Reset margin */
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin: 0; /* Reset margin */
}

/* Bootstrap Overrides */
.btn-primary {
  color: #fff;
  padding: 8px 20px; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 20px; 
  margin-bottom: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it's above other content */
}

.navbar-nav .nav-item .nav-link {
  color: #940C0C !important;
  font-weight: bold;
}
