/* Global styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
}

.sidebar {
  width: 250px; /* Adjust the width as needed */
  flex: 0 0 auto; /* Sidebar should not grow or shrink */
  background-color: #f0f0f0;
  padding: 20px;
  margin: 0; /* Reset margin */
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin: 0; /* Reset margin */
}

/* Bootstrap Overrides */
.btn-primary {
  background-color: #940C0C;
  color: #fff;
  padding: 8px 20px; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 20px; 
  margin-bottom: 30px;
}

.btn-primary:hover {
  background-color: #b44c4c;
}
