<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Page</title>
    <link rel="stylesheet" href="management.component.css">
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <!-- Links -->
            <a routerLink="/add-subject">Add Subjects</a>
            <a routerLink="/admin-student-form">Add Concerns</a>
            <a routerLink="/add-advisingtype">Add Advising Type</a>
            <a routerLink="/add-formtype">Add Form Type</a>
            <a routerLink="/add-department">Add Department</a>
            <a routerLink="/add-employee">Add Employee</a>
            <a routerLink="/add-priority">Add Priority</a>
            <a routerLink="/add-role">Add Role</a>
            <a routerLink="/add-status">Add Status</a>
            <a routerLink="/add-subject">Add Subjects</a>
            <a routerLink="/add-student">Add Student</a>
            <a routerLink="/admin-dashboard">Admin</a>
        </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
