
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.justify-text {
  text-align: justify;
}

.navbar-nav .nav-item.active .nav-link {
  color: #940C0C !important;
  font-weight: bold;
}
.about-heading {
  margin-bottom: 5px; 
  font-size: 70px;

 
}
.meet-heading{
  font-size: 50px;
  color:#940C0C;
}
.custom-background {
  background-color: #ffffff;
}
.custom-background .row {
  margin-right: 0;
  margin-left: 0;
}
.text-white {
  color: #940C0C;
}
.text-black {
  color: rgb(27, 25, 25);
}

h1 {
font-weight: bold;
}

/*------------ Login container ------------*/
.box-area{
width: 950px;
}
/*------------ Right box ------------*/
.right-box{
padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder{
font-size: 16px;
}
.rounded-4{
border-radius: 20px;
}
.rounded-5{
border-radius: 30px;
}


/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
 .box-area{
    margin: 0 10px;
 }
 .left-box{
    height: 100px;
    overflow: hidden;
 }

 .right-box{
    padding: 20px;
 }
}
