body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.justify-text {
    text-align: justify;
}

.navbar-nav .nav-item.active .nav-link {
    color: #940C0C !important;
    font-weight: bold;
}
.about-heading {
    margin-bottom: 5px; 
    font-size: 70px;
}
.CSA-intro{
    font-style: italic;
}
.meet-heading{
    font-size: 50px;
    color:#940C0C;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }
.banner-image {
    max-width: 100%; /* Adjust as needed */
    max-height: 100%; /* Adjust as needed */
}
.card-title{
    color: #940C0C ;
    font-weight: bold;
    text-align: center;
}

.moodra{
    overflow: hidden;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 900px; /* Set maximum height for the container */
  }
  
  .container {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      position: fixed;
      margin: 0; /* Reset margin */
      padding: 0; /* Reset padding */
  }