<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Student Form</title>
</head>
<body>
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand">
            <img src="/assets/logo.svg" height="50px" alt="Your Logo">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- <li class="nav-item active">
                    <a class="nav-link" (click) = "navigateToHome()" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li> -->
            </ul>
        </div>
       
        <!-- <a class="btn btn-outline-danger ml-2" href="/login">Login</a>
        <a class="btn btn-danger ml-2" href="/inquire">Inquire for Completion</a> -->
    </nav>
    <div style="padding: 30px">
      
  <form *ngIf="studentForm" [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Student Information</h2>
        
        <div class="form-group">
          <label for="description">Student ID:</label>
          <input type="number" class="form-control" id="studentNumber" value="{{ student.studentID }}" placeholder="{{ student.studentID }}" readonly required>
        </div>
        <div class="form-group">
          <label for="description">Student Name:</label>
          <input type="text" class="form-control" id="studentName" value="{{ student.firstName + ' ' + student.lastName }}" placeholder="{{ student.firstName + ' ' + student.lastName }}" readonly required>
        </div>
        <div class="form-group">
          <label for="description">Year and Program</label>
          <input type="text" class="form-control" id="programYear" value="{{ student.yearLevel + ' - ' + student.program }}" placeholder="{{ student.yearLevel + ' - ' + student.program }}" readonly required>
        </div>
        <div class="form-group">
          <label for="description">Email:</label>
          <input type="email" class="form-control" id="emailAddress" value="{{ student.email }}" placeholder="{{ student.email }}" readonly required>
        </div>
        <div class="form-group">
          <label for="description">Contact Number:</label>
          <input type="tel" class="form-control" id="phoneNumber" formControlName="phoneNumber" value="{{ account.phoneNumber }}" placeholder="{{ account.phoneNumber }}" readonly required>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Nature of Advising</h2>
        <div class="form-group">
          <label for="description">Title:</label>
          <input type="text" class="form-control" id="title" formControlName="title" placeholder = "Enter Title:" required [readonly]="!forSubmitting">
        </div>
        <div class="form-group">
          <label>Advising Type</label>
          <select class="form-control" id="advisingType" formControlName="advisingType" (change)="onAdvisingTypeChange($event)" [disabled]="!forSubmitting">
            <option selected disabled></option>
            <option *ngFor="let advisingType of advisingTypeArray" [value]="advisingType.id">{{ advisingType.name }}</option>
          </select>
        </div>        
        <div class="form-group" *ngIf="showSubjectsBox">
          <label for="otherAdvisingType">Subjects:</label>
          <select class="form-control" id="subjects" formControlName="subjects" [disabled]="!forSubmitting">
            <option selected disabled>Select subject:</option>
            <option *ngFor="let subject of subjectsArray" [value]="subject.myId">{{ subject.courseCode + " - " + subject.name }}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="showOtherTextBoxAdvisingType">
          <label for="otherAdvisingType">Other Advising Type</label>
          <input type="text" formControlName="otherAdvisingType" class="form-control" id="otherAdvisingType" placeholder="Enter other advising type" [readonly]="!forSubmitting">
        </div>
        <div class="form-group">
          <label for="description">Please provide specific details:</label>
          <textarea class="form-control" id="description"  placeholder = "Enter Description:" formControlName="description" rows="2" [readonly]="!forSubmitting"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button type="submit" style="margin: 5px;" class="btn btn-primary" *ngIf="forSubmitting">Submit</button>
    <button type="button" (click)="onCancel()" style="margin: 5px;" class="btn btn-danger">Cancel</button>
  </div>
</form>  
</div>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>  
</html>
