<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signout Dialog</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="signout-dialog.component.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <h2 mat-dialog-title style="text-align: center;">Do you wish to Signout?</h2>
    <mat-dialog-content cdkFocusInitial>
        <p style="text-align: center;">We're happy to be of service to you!</p>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="btn btn-outline-success me-1 ms-auto" mat-button (click)="onSignOut()" mat-dialog-close>Yes</button>
        <button class="btn btn-outline-danger me-auto ms-1" mat-button mat-dialog-close>No</button>
    </mat-dialog-actions>
</body>
</html>