<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Management Page</title>

    <!-- Custom fonts for this template -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="final-dash.component.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-XX3miQcMEHt/XEFTCHknhYsxH7aFG0vxLL6QoSrTiR5MquIyBD2Bk9ltewRz24ew" crossorigin="anonymous">


    


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    
                </div>
                <div class="sidebar-brand-text mx-3">Mapua CSA </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>My Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Components
            </div>

            <!------------------------------------------------------------- ADMIN COMPONENTS ------------------------------------------------------------->
            <div *ngIf="account.role.roleName === 'ADMINISTRATION'">
                    <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item" id="managementeNavItem">
                    <a class="nav-link collapsed" href="/management" aria-expanded="true" aria-controls="collapseTwo" onclick="setActiveNavItem(this)">
                        
                        <span>Management Page</span>
                    </a>
                </li>
                <li class="nav-item" id="contactCoderseNavItem">
                    <a class="nav-link collapsed" href="/contact-coders" aria-expanded="true" aria-controls="collapseTwo" onclick="setActiveNavItem(this)">
                    
                        <span>Contact Coders</span>
                    </a>
                </li>
                <li class="nav-item" id="contactCoderseNavItem">
                    <a class="nav-link collapsed" href="/student-form" aria-expanded="true" aria-controls="collapseTwo" onclick="setActiveNavItem(this)">
                        <span>Sign Out</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
            </div>
            <!---------------------------------------------------------- END OF ADMIN COMPONENTS ---------------------------------------------------------->

            <!------------------------------------------------------------- PROFESSOR COMPONENTS ------------------------------------------------------------->
            <div *ngIf="account.role.roleName === 'PROFESSOR'">
                    <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item" id="contactCoderseNavItem">
                    <a class="nav-link collapsed" href="/student-form" aria-expanded="true" aria-controls="collapseTwo" onclick="setActiveNavItem(this)">
                        <span>Sign Out</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
            </div>
            <!---------------------------------------------------------- END OF PROFESSOR COMPONENTS ---------------------------------------------------------->

            <!------------------------------------------------------------- STUDENT COMPONENTS ------------------------------------------------------------->
            <div *ngIf="account.role.roleName === 'STUDENT'">
                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item" id="contactCoderseNavItem">
                    <a class="nav-link collapsed" href="/student-form" aria-expanded="true" aria-controls="collapseTwo" onclick="setActiveNavItem(this)">
                        <span>Create a Request</span>
                    </a>
                </li>
                <li class="nav-item" id="contactCoderseNavItem">
                    <a class="nav-link collapsed" href="/student-form" aria-expanded="true" aria-controls="collapseTwo" onclick="setActiveNavItem(this)">
                        <span>Sign Out</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
            </div>
            <!---------------------------------------------------------- END OF STUDENT COMPONENTS ---------------------------------------------------------->
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                <!-- Topbar Search 
                <form
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>-->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown  d-sm-none">
                            <a class="nav-link " href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                       
                        
 <!-- Nav Item - Alerts -->
 <li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="/notification" id="alertsDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="/assets/bell.png" alt="Bell Icon">
        <!-- Counter - Alerts 
        <span class="badge badge-danger badge-counter">3+</span>-->
    </a>
    <!-- Dropdown - Alerts 
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Alerts Center
        </h6>
        <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
                <div class="icon-circle bg-primary">
                    <i class="fas fa-file-alt text-white"></i>
                </div>
            </div>
            <div>
                <div class="small text-gray-500">December 12, 2019</div>
                <span class="font-weight-bold">A new monthly report is ready to download!</span>
            </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
                <div class="icon-circle bg-success">
                    <i class="fas fa-donate text-white"></i>
                </div>
            </div>
            <div>
                <div class="small text-gray-500">December 7, 2019</div>
                $290.29 has been deposited into your account!
            </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
                <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                </div>
            </div>
            <div>
                <div class="small text-gray-500">December 2, 2019</div>
                Spending Alert: We've noticed unusually high spending for your account.
            </div>
        </a>
        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
    </div>-->
</li>

<div class="topbar-divider d-none d-sm-block"></div>

<!-- Nav Item - User Information -->
<li class="nav-item dropdown no-arrow">
    <a class="nav-link" href="#" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.firstName + " " + user.lastName}}</span>
        
    </a>

</li>

</ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800 mb-3">
                        <span *ngIf="account.role.roleName === 'ADMINISTRATION'">Admin Dashboard</span>
                        <span *ngIf="account.role.roleName === 'PROFESSOR'">Professor Dashboard</span>
                        <span *ngIf="account.role.roleName === 'STUDENT'">Student Dashboard</span>
                    </h1>
                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">List of Course / Program Advising Requests</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="row align-items-center">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="row align-items-center">
                                            <div class="col-md-1">
                                                <label for="dataTable_length">Show</label>
                                            </div>
                                            <div class="col-md-2">
                                                <select name="dataTable_length" id="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm mb-2">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    <option value="500">500</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <label for="dataTable_length">Filter</label>
                                            </div>
                                            <div class="col-md-2" [formGroup] = "filterTable">
                                                <select name="dataTable_length" id="tableView" aria-controls="dataTable" class="custom-select form-control mb-2" formControlName="tableView" (change)="applyFilter($event)" style="width: 150px;">
                                                    <option [selected] = "true" value = "ALL">All</option>
                                                    <option value = "PENDING">Pending</option>
                                                    <option value = "COMPLETED">Completed</option>
                                                    <option value = "REJECTED">Rejected</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col-md-6 text-right">
                                                <label for="dataTable_filter" class="mr-2">Search:</label>
                                            </div>
                                            <div class="col-md-6" >
                                                <form class="form-inline">
                                                    <div [formGroup] = "searchTable">
                                                    <input id="searchInput" type="search" class="form-control mb-2 mr-sm-2" placeholder="Search" aria-label="Search" aria-describedby="search-addon" formControlName="searchView"/>
                                                    </div> 
                                                    <button type="button" class="btn btn-primary mb-2" (click)="applySearch()">Search</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="isDataLoaded">
                                    
                                    <thead>
                                        <tr>
                                            <th>Student Name</th>
                                            <th>Student Number</th>
                                            <th>Year & Course</th>
                                            <th>Title</th>
                                            <th>Nature of Advising</th>
                                            <th>Date Modified</th>
                                            <th>Status</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let request of filteredRequests">
                                            <td>{{request.student.firstName + " " +request.student.lastName}}</td>
                                            <td>{{request.student.studentID}}</td>
                                            <td>{{request.student.yearLevel+ " - " + request.student.program}}</td>
                                            <td>{{request.title}}</td>
                                            <td>{{ request.otherAdvisingType ? (request.advisingType.name + " - " + request.otherAdvisingType) : request.advisingType.name }}</td>
                                            <td>{{request.dateModified}}</td>
                                            <!-- <td>{{request.status.name}}</td> -->
                                            <td><button (click)="viewRequest(request.requestId)" [ngClass]="{'statusComplete' : request.status.name === 'COMPLETED','statusRejected' : request.status.name === 'REJECTED','statusPending' : request.status.name === 'PENDING'}">{{request.status.name}}</button></td>
                                            <!-- <td><button type = "button" onclick="document.location='/view-request/{{request.requestId}}'" class="btn btn-success">Click here</button></td> -->
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td class="text-center">
                                                <span class="status-text">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>$170,750</td>
                                            <td class="text-center">
                                                <span class="status-text">Resolved</span>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td>San Francisco</td>
                                            <td>66</td>
                                            <td>2009/01/12</td>
                                            <td>$86,000</td>
                                            <td class="text-center">
                                                <span class="status-text">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Senior Javascript Developer</td>
                                            <td>Edinburgh</td>
                                            <td>22</td>
                                            <td>2012/03/29</td>
                                            <td>$433,060</td>
                                            <td class="text-center">
                                                <span class="status-text">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>33</td>
                                            <td>2008/11/28</td>
                                            <td>$162,700</td>
                                            <td class="text-center">
                                                <span class="status-text">Cancelled</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Brielle Williamson</td>
                                            <td>Integration Specialist</td>
                                            <td>New York</td>
                                            <td>61</td>
                                            <td>2012/12/02</td>
                                            <td>$372,000</td>
                                            <td class="text-center">
                                                <span class="status-text">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Herrod Chandler</td>
                                            <td>Sales Assistant</td>
                                            <td>San Francisco</td>
                                            <td>59</td>
                                            <td>2012/08/06</td>
                                            <td>$137,500</td>
                                            <td class="text-center">
                                                <span class="status-text">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Rhona Davidson</td>
                                            <td>Integration Specialist</td>
                                            <td>Tokyo</td>
                                            <td>55</td>
                                            <td>2010/10/14</td>
                                            <td>$327,900</td>
                                            <td class="text-center">
                                                <span class="status-text">Resolved</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Colleen Hurst</td>
                                            <td>Javascript Developer</td>
                                            <td>San Francisco</td>
                                            <td>39</td>
                                            <td>2009/09/15</td>
                                            <td>$205,500</td>
                                            <td class="text-center">
                                                <span class="status-text">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sonya Frost</td>
                                            <td>Software Engineer</td>
                                            <td>Edinburgh</td>
                                            <td>23</td>
                                            <td>2008/12/13</td>
                                            <td>$103,600</td>
                                            <td class="text-center">
                                                <span class="status-text">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Jena Gaines</td>
                                            <td>Office Manager</td>
                                            <td>London</td>
                                            <td>30</td>
                                            <td>2008/12/19</td>
                                            <td>$90,560</td>
                                            <td class="text-center">
                                                <span class="status-text">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Quinn Flynn</td>
                                            <td>Support Lead</td>
                                            <td>Edinburgh</td>
                                            <td>22</td>
                                            <td>2013/03/03</td>
                                            <td>$342,000</td>
                                            <td class="text-center">
                                                <span class="status-text">Cancelled</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Charde Marshall</td>
                                            <td>Regional Director</td>
                                            <td>San Francisco</td>
                                            <td>36</td>
                                            <td>2008/10/16</td>
                                            <td>$470,600</td>
                                            <td class="text-center">
                                                <span class="status-text">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Haley Kennedy</td>
                                            <td>Senior Marketing Designer</td>
                                            <td>London</td>
                                            <td>43</td>
                                            <td>2012/12/18</td>
                                            <td>$313,500</td>
                                            <td class="text-center">
                                                <span class="status-text">Resolved</span>
                                            </td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white" style="color: #940C0C;">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; Mapúa University | Center of Student Advising</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

  
    <!-- JavaScript -->
    <script>
        function setActiveNavItem(clickedItem) {
            // Check if the clicked item is already active
            if (!clickedItem.parentNode.classList.contains('active')) {
                // Remove "active" class from all nav items
                var navItems = document.querySelectorAll('.nav-item');
                navItems.forEach(function(item) {
                    item.classList.remove('active');
                });
    
                // Add "active" class to the clicked nav item
                clickedItem.parentNode.classList.add('active');
            }
        }
    </script>

</body>

</html>