body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.justify-text {
    text-align: justify;
}

.CSA-intro{
    font-style: italic;
}

.banner-image {
    max-width: 100%; /* Adjust as needed */
    max-height: 100%; /* Adjust as needed */
}
.card-title{
    color: #940C0C ;
    font-weight: bold;
    text-align: center;
}

.moodra{
    overflow: hidden;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 500px; /* Set maximum height for the container */
  }
  
.container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
  }