<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Student</title>
        <!-- Add Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="add-student.component.css">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <!-- Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    </head>
<body>
    <div class="container">
        <!--<app-management></app-management>-->
            <div class="moodra pt-5 col-md-6">
                <div class="card rounded-card shadow p-4">
                    <h2 class="text-center">Add a Student</h2>
                    <!-- <form [formGroup]="newDepartment" (ngSubmit)="checkFields()">                                                                                    
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Name of Department" required>
                        </div>   
                        <button type="submit" class="btn btn-success">Add Department</button>
                    </form> -->
                    <form [formGroup]="newStudent" (ngSubmit)="checkFields()">

                        <div class="form-group">
                            <label for="studentID">Student ID</label>
                            <input type="text" formControlName="studentID" class="form-control" id="studentId" placeholder="Enter student id" required>
                        </div>

                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" formControlName="firstName" class="form-control" id="firstname" placeholder="Enter First name" required>
                        </div>
                        <div class="form-group">
                            <label for="middlename">Middle Name</label>
                            <input type="text" formControlName="middleName" class="form-control" id="middlename" placeholder="Enter Middle name" required>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control" id="lastname" placeholder="Enter Last name" required>
                        </div>                        
                        
                        <div class="form-group">
                            <label for="photo">Photo</label>
                            <div class="custom-file">
                                <input type="file" (change)="onFileChanged($event)" class="custom-file-input" id="photo" accept="image/*">
                                <label class="custom-file-label text-left text-truncate" for="photo">{{ selectedFileName || 'Choose file' }}</label>
                            </div>
                        </div>                                                                                       
    
                        <div class="form-group">
                            <label for="program">Program</label>
                            <input type="text" formControlName="program" class="form-control" id="program" placeholder="Enter program" required>
                        </div>

                        <div class="form-group">
                            <label for="department">Department</label>
                            <select formControlName="department" class="form-control form-select" id="department" required *ngIf="isDataLoaded">
                                <option *ngFor="let department of departmentList" value="{{department.id}}">{{department.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter email" required>
                        </div>

                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select formControlName="gender" class="form-control" id="gender" required (change)="onGenderChange($event)">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Others</option>
                            </select>
                        </div>
                        
                        <div class="form-group" *ngIf="showOtherTextbox">
                            <label for="otherGender">Other Gender</label>
                            <input type="text" formControlName="otherGender" class="form-control" id="otherGender" placeholder="Enter other gender">
                        </div>

                        <div class="form-group">
                            <label for="yearlevel">Year Level</label>
                            <input type="number" formControlName="yearLevel" class="form-control" id="yearlevel" placeholder="Enter Year level" required>
                        </div>
    
                        <button type="submit" class="btn bg-primary" style="color: #fff;">Add Student</button>
                    </form>
                </div>
            </div>
    </div>





</body>

</html>