body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/assets/contact.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.justify-text {
    text-align: justify;
}

.CSA-intro {
    font-style: italic;
}

.banner-image {
    max-width: 100%; /* Adjust as needed */
    max-height: 100%; /* Adjust as needed */
}

.card-title {
    color: #940C0C;
    font-weight: bold;
    text-align: center;
}

.moodra {
    overflow-y: auto; /* Enable vertical scrolling if necessary */
    max-height: 80vh; /* Set maximum height for the container, adjust as needed */
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    height: 100vh; /* Ensure full viewport height */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it's above other content */
}

.navbar-nav .nav-item .nav-link {
    color: #940C0C !important;
    font-weight: bold;
}
